body {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  letter-spacing: .2px;
  text-rendering: optimizeLegibility;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-bottom: .5em;
  font-weight: 400;
}
.markdown-section h3 {
  border-bottom: 2px solid #33a7ebd6;
}
.markdown-section h3 span {
  display: inline-block;
  font-weight: normal;
  background: #33a7ebd6;
  color: rgb(255, 255, 255);
  padding: 3px 10px 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.markdown-section h3::after {
  display: inline-block;
  content: "";
  vertical-align: bottom;
  border-bottom: 36px solid rgb(239, 235, 233);
  border-right: 20px solid transparent;
}
.markdown-section p {
  line-height: 2;
}
.markdown-section img {
  padding: 8px;
  background: #e4e4e478;
  transition: all 1s;
  box-sizing: border-box;
  box-shadow: 0 0 4px #dcdcdc;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 95%;
}
.markdown-section img:hover {
  box-shadow: 0 0 10px #bbb
}

.exc-trigger {
  color: #333333;
}

.navigation {
  display: none;
}

.page-wrapper {
  top: -20px;
}

a:focus {outline-style:none; -moz-outline-style: none;}

/*Book inner page*/

#book-search-results {
  border: solid 1px #eee;
  padding: 0 10px;
}

.book-summary-title {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  font-size: 16px;
  color: #adadad;
}

.book-summary, .book-body {
  top: 60px;
}
.book-body::before {
  content: "";
  opacity: 0.08;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.book-summary ul.summary li.active>a {
  background-color: #ebf2fd;
  border-style: solid;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  color: #357ff1;
  padding-left: 27px;
}

.book-summary ul.summary li a:hover {
  text-decoration: none;
}

.page-inner {
  max-width: 75%;
  padding: 0 15px 30px;
}

.header-inner #book-search-input {
  float: right;
  width: 300px;
  margin: 5px 0;
  padding: 0;
  border: none;
  background: #1890ff;
  user-select: none;
}

.header-inner #book-search-input input[type="text"] {
  width: 80%;
  line-height: 20px;
  padding: 5px 5px;
  background: #e4e4e4;
}

.header-inner #book-search-input #searchBtn {
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

.header-inner #book-search-input #searchBtn:hover {
  color: #eae8e8;
}

.header-inner {
  width: 100%;
  padding: 8px 30px;
  border-bottom: 1px solid #dededede;
  margin: auto;
  *zoom: 1;
  height: 60px;
}

.header-inner:before,
.header-inner:after {
  content: " ";
  display: table;
  line-height: 0;
}

.header-inner:after {
  clear: both;
}

.header-inner .logo {
  float: left;
  height: 40px;
  width: 110px;
  background: url('../logo.png');
  background-size: 120px 40px;
  background-repeat: no-repeat;
}

.header-inner .logo img {
  display: block;
  height: inherit;
  padding: 5px 0;
}

.header-inner .title {
  float: left;
  font-size: 20px;
  line-height: 40px;
  margin-left: 10px;
  color: #575656;
}

/* 导航 */
.header-inner .header-nav {
  list-style: none;
  margin: 5px 20px 0 0;
  padding: 0;
  float: right;
  display: table;
}

.header-inner .header-nav li {
  display: table-cell;
  vertical-align: middle;
  min-width: 50px;
  margin-right: 20px;
  padding: 8px 10px 8px 10px;
}

.header-inner .header-nav li a {
  color: #333333;
}

.header-inner .header-nav li a:hover,
.header-inner .header-nav li a.active {
  color: #357ff1;
}

.header-inner .header-nav li a.active:hover {
  cursor: #357ff1;
}

@media (max-width: 768px) {
  .book-summary,
  .book-body {
    top: 81px;
  }
  .header-inner #book-search-input {
    clear: both;
    width: 100%;
  }
}

/* 修改滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar:hover {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
  min-height: 5px;
  min-width: 5px;
  border-radius: 20px;
  background-color: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  min-height: 5px;
  min-width: 5px;
  border-radius: 20px;
  background-color: #7d7d7d;
}
::-webkit-scrollbar-thumb:active {
  border-radius: 20px;
  background-color: #7d7d7d;
}